<div class="container-fluid p-0">
    <div class="row m-0">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
        <app-navbarbw></app-navbarbw>
    </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
        <app-sidebarbw class="flex-grow-1"></app-sidebarbw>
    </div>
    <!-- Main Content -->
    
    <div class="col-10 p-0 d-flex">
        <!-- Aquí puedes colocar el contenido principal -->
        <div class="p-4 flex-grow-1" style="background-color: #DBD8D8;">
            <div class="container">
                <div class="container-fluid">

                    <div class="container-fluid">
                        <div class="row title mt-5">
                            <h4>Transferencias Directas</h4>
                        </div>
                        <div class="row " style="text-align: center;">
                            <img src="../../../../assets/img/exi.png" alt="Imagen" style="width: 35%; height: 10%; object-fit: contain; display: block; margin: 1px auto;">
                            <h4>Transacción Exitosa</h4>
                        </div>
                        <div class="row contenido my-3 p-5 rounded-4">
                           
                           
                                <div style="display: flex; justify-content: space-between;">
                                    <p>Valor:</p>
                                    <p>123.45</p>
                                </div>
                                <hr>
                                <div style="display: flex; justify-content: space-between;">
                                    <p>Desde:</p>
                                    <p>Nro. 2235278045</p>
                                </div>
                              
                                <div style="display: flex; justify-content: space-between;">
                                    <p>Para:</p>
                                    <p>FAICAN CAMACHO DOMENICA LIZBETH</p>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <p>Numero de cuenta:</p>
                                    <p>Nro. 2235278034</p>
                                </div>
                                <hr>
                                <div style="display: flex; justify-content: space-between;">
                                    <p>Fecha:</p>
                                    <p>17/12/2023</p>
                                </div>
                                <hr>
                                <div class="pt-4">
                                    <button type="button" class="btn btn-success mx-3">Imprimir</button>
                                    <button type="button" class="btn btn-primary mx-3">Nueva Transferencia</button>
                                </div>
                            
                        </div>
                       
                          
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
