<div class="container-fluid p-0">
    <div class="row">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
        <app-navbar></app-navbar>
    </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
        <app-sidebar class="flex-grow-1"></app-sidebar>
    </div>
    <!-- Main Content -->
    
    <div class="col-10 p-0 d-flex">
        <!-- Aquí puedes colocar el contenido principal -->
        <div class="p-4 flex-grow-1" style="background-color: #DBD8D8;">
            <div class="container">
                <div class="container-fluid">
                    <div class="row title mt-5">
                        <h4>Nuevo Usuario</h4>
                    </div>
                    <div class="row contenido my-3 p-5 rounded-4">
                        <h5>Datos de Usuario</h5>
                        <hr>
                        <form action="">
                            <div class="form-group">
                                <select class="form-select">
                                    <option selected>Rol</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <input type="text" class="form-control my-2" placeholder="Nombres">
                                <input type="text" class="form-control my-2" placeholder="Apellido">
                                <input type="text" class="form-control my-2" placeholder="Correo Electronico">
                                <input type="text" class="form-control my-2" placeholder="Usuario">
                                <input type="text" class="form-control my-2" placeholder="Password">
                            </div>
                        </form>
                        <div class="px-4 mt-3">
                            <button type="button" class="btn btn-success mx-1" >Continuar</button>
                            <button type="button" class="btn btn-secondary mx-1" (click)="mensaje()">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
