<div class="container-fluid p-0">
    <div class="row m-0">
      <!-- Navbar -->
      <div class="col-12 px-0 borde-ancho">
        <app-navbarbw></app-navbarbw>
      </div>
    </div>
    <div class="row m-0">
      <!-- Sidebar -->
      <div class="col-2 p-0 d-flex flex-column" style="height: 85vh;">
        <app-sidebarbw class="flex-grow-1"></app-sidebarbw>
      </div>
      <!-- Main Content -->
      <div class="col-10 p-0 d-flex flex-wrap">
        <!-- Aquí puedes colocar el contenido principal -->
            <div class="columna-gris">
                <div class="buttons-container">
                    <h3>Créditos</h3>
                  </div>
                  <!-- <div class="container">
                    <div class="table-container" >
                        <p>No tiene Créditos activos</p>
                    </div>
                  </div> -->
                  <div class="centrado">
                    <div class="cuadro-gris" routerLink="/consumo">
                      <img
                        src="../../assets/img/solicitar.png"
                        alt="Imagen Depósitos"
                      />
                      <p>Solicitar Crédito</p>
                    </div>
                    <div class="cuadro-gris" routerLink="/info-credito">
                      <img
                        src="../../assets/img/historial.png"
                        alt="Imagen Retiros"
                      />
                      <p>Información Crédito</p>
                    </div>
                  </div>
            </div>
      </div>
    </div>
  </div>
  <footer>
      © 2023 BancoBanquito. Todos los derechos reservados.
  </footer>
  

 