<nav class="navbar bg-light shadow-lg sidebar">
    <ul class="navbar-nav text-center w-100">
      <li class="nav-item">
        <a class="nav-link" href="productos" (mouseenter)="setActiveLink('Mis productos')" [ngClass]="{ 'active': activeLink === 'Mis productos' }">Mis productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="transferencias" (mouseenter)="setActiveLink('Transferencias')" [ngClass]="{ 'active': activeLink === 'Transferencias' }">Transferencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="perfil" (mouseenter)="setActiveLink('Mi perfil')" [ngClass]="{ 'active': activeLink === 'Mi perfil' }">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="solicitudes" (mouseenter)="setActiveLink('Solicitudes')" [ngClass]="{ 'active': activeLink === 'Solicitudes' }">Solicitudes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="creditos" (mouseenter)="setActiveLink('Creditos')" [ngClass]="{ 'active': activeLink === 'Creditos' }">Creditos</a>
      </li>
    </ul>
  </nav>
  