<!-- Aquí puedes colocar el contenido principal -->
<div class="p-4 flex-grow-1" style="background-color: #dbd8d8">
    <div class="container">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row title mt-5">
                    <h4>Confirmación Retiro Bancarios</h4>
                </div>
                <div class="row contenido my-3 p-5 rounded-4">
                    <h5>Comprobante de Retiro</h5>
                    <form action="">
                        <div class="col-12 my-3 p-4 rounded-3" style="background-color: #ececec">
                            <p style="color: #3d84a7; line-height: 0.8em">
                                <b>BANCO BANQUITO</b>
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Retiro Bancario
                            </p>
                            <br />
                            <p style="font-size: 14px; line-height: 0.5em">
                                Total: 200.50
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Cuenta: 2256987413
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Nombre: Edison Toapanta
                            </p>
                            
                            
                            
                        </div>
                    </form>
                    <div class="px-4 mt-3">
                        <button (click)="salida()" type="button" class="btn btn-success mx-1">
                            Confirmar
                        </button>
                        <button type="button" class="btn btn-secondary mx-1">
                            Regresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>