  /* Estilos para el contenedor principal */
  
  .container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

  }
  
  .borde-ancho {
    border-bottom: 5px solid #ccc; 
}
  /* Estilos para la cabecera */
  
  h1 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Estilos para la tabla */
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos específicos para la tabla de la cuenta de ahorros */
  
  .table-ahorros {
    background-color: #f5f5f5;
  }
  
  .table-ahorros th {
    background-color: #d9d9d9;
  }
  
  /* Estilos específicos para la tabla de los créditos */
  
  .table-creditos {
    background-color: #ffffff;
  }
  
  .table-creditos th {
    background-color: #f0f0f0;
  }
  
  /* Estilos específicos para las tarjetas */
  .custom-card {
    border-radius: 15px; /* Bordes más redondeados */
  }

  .custom-card .card-body {
    background-color: white; /* Fondo blanco para el cuerpo */
  }

  .card {
    max-width: 24rem;
    border-radius: 15px; /* Bordes más redondeados para la tarjeta */
    background-color: white; /* Fondo blanco para la tarjeta */
  }

  .card-header {
    background-color: white; /* Fondo blanco para el encabezado */
    border-bottom: 3px solid #1C9352; /* Línea más gruesa y color verde en el encabezado */
    padding: 10px; /* Añade un poco de espacio para separar el texto de la línea */
  }

  .card-link {
    text-decoration: none !important;
    color: #159768 !important;
    font-weight: bold !important;
  }

  .card-link span:nth-child(2) {
    font-weight: normal;
    color: black; /* O el color deseado para el segundo span */
  }

  .borde-ancho {
    border-bottom: 5px solid #ccc; 
}
  h5{
      font-family: 'Times New Roman', serif;
      font-size: 25px;
      text-align: left;
      color: #000000d3;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.386);
      margin-top: 40px;
      margin-left: 80px;
      font-weight: lighter;
      cursor: default;
  }

  footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to top, #186f3f, #5eae75);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12.5px;
  }
