<div class="screen-flex-vertical gap-2">
    
    <div class="card fondo gap-5">
        <div class="d-flex gap-3 mx-auto">
            <label class="fw-bold fs-2">Transacción existosa</label>
        </div>
        <div class="d-flex justify-content-center">
            <img class="imagen " src="../../../assets/img/tarjetas/retiroscomprobante.svg">
        </div>

        <div class="col-12 py-3 p-5">
            <div>
                <strong>Se ha retirado la cantidad de:</strong>
                <br>
                <strong>De la cuenta:</strong>
                <br>
                <strong>Beneficiario:</strong>
                <br><br>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button (click)="volver()" type="submit" class="btn btn-success mx-1" >
                Realizar otra transacción
            </button>
        </div>
    </div>
</div>