<!-- Aquí puedes colocar el contenido principal -->
<div class="p-4 flex-grow-1" style="background-color: #dbd8d8">
    <div class="container">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row title mt-5">
                </div>
                <div class="row contenido my-3 p-5 rounded-4">
                    <h5>Consultas Bancarias</h5>
                    <form action="">
                        <div class="col-12 my-3 p-4 rounded-3" style="background-color: #ececec">
                            <p style="color: #3d84a7; line-height: 0.8em">
                                <b>BANCO BANQUITO</b>
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Consulta Bancaria
                            </p>
                            <br />
                            <p style="font-size: 14px; line-height: 0.5em">
                                Propietario:
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Tipo Cuenta:
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                No. de Cuenta
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Disponible:
                            </p>
                            <p style="font-size: 14px; line-height: 0.5em">
                                Contable:
                            </p>
                            
                            
                            
                        </div>
                    </form>
                    <div class="px-4 mt-3">
                        <button  type="button" class="btn btn-success mx-1">
                            Imprimir
                        </button>
                        <button (click)="regresar() " type="button" class="btn btn-secondary mx-1">
                            Regresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>