<div class="container-fluid p-0">
    <div class="row m-0">
        <!-- Navbar -->
        <div class="col-12 px-0" class="borde-ancho">
            <app-navbarv></app-navbarv>
        </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
            <app-sidebarv class="flex-grow-1"></app-sidebarv>
        </div>
        <!-- Main Content -->

        <div class="col-10 p-0 d-flex">
            <!-- Aquí puedes colocar el contenido principal -->
            <div class="p-4 flex-grow-1" style="background-color: #DBD8D8;">
                <div class="container">
                    <div class="container-fluid">

                        <div class="container-fluid">
                            <div class="row title mt-5">
                                <h4>Confirmación del Depósito</h4>
                            </div>
                            <div class="row contenido my-3 p-5 rounded-4">
                                <h5>Depositante</h5>
                                <hr>
                                <form action="">
                                    <div class="col-12 my-3 p-4 rounded-3" style="background-color: #ECECEC;">
                                        <p style="color: #3D84A7; line-height: 0.8em;"> <b>BRYAN ALEXANDER PAZMIÑO
                                                GORDON</b></p>
                                        <p style="font-size: 14px; line-height: 0.5em;">C.I: 1727486805</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-9">
                                            <h5>Beneficiario</h5>
                                        </div>
                                        <div class="col-1 d-flex justify-content-end align-items-center">
                                            <i style="color: #159768; font-size: 1.5 em; text-shadow: 1px 1px 2px;" class="bi bi-arrow-down "></i>
                                        </div>
                                        <div class="col-1">
                                            <h5 class="text-end">$00.0</h5>
                                        </div>
                                        
                                        <hr>
                                    </div>

                                    <div class="col-12 my-3 p-4 rounded-3" style="background-color: #ECECEC;">
                                        <p style="color: #3D84A7; line-height: 0.8em;"> <b>EDISON JAVIER TOAPANTA
                                                PICHUCHO</b></p>
                                        <p style="font-size: 14px; line-height: 0.5em;">NO. 2256987413</p>
                                    </div>
                                </form>
                                <div class="px-4 mt-3">
                                    <button type="button" class="btn btn-success mx-1" (click)="imprimirDep()">Confirmar</button>
                                    <button type="button" class="btn btn-secondary mx-1">Regresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>