<div class="screen-flex-vertical gap-2">
  <div class="d-flex justify-content-between">
      <label class="fw-bold fs-3 my-auto p-5">Depósitos</label>
      <img class="logo m-2" src="../../../assets/img/login/banquito.png" alt="Logo">
  </div>
  <div class="card fondo gap-5">
      <div class="d-flex gap-3 mx-auto">
          <label class="fw-bold fs-2">Confirmación de los datos del depósito:</label>
      </div>
      <div class="col-12 py-3 p-5" >
        <div>
            <strong>Se depositará la cantidad de:</strong>
            <br>
            <strong>A la cuenta:</strong>
            <br>
            <strong>Nombre del beneficiario:</strong>
            <br><br>
        </div>
        <div class="px-4 mt-3 d-flex justify-content-end align-items-end">
          <button type="button" class="btn btn-success mx-1">
              Confirmar
          </button>
          <button type="button" class="btn btn-secondary mx-1">
              Regresar
          </button>
      </div>
    </div>   
  </div>
</div>
