<div class="container-fluid p-0">
  <div class="row m-0">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
      <app-navbarv></app-navbarv>
    </div>
  </div>
  <div class="row m-0">
    <!-- Sidebar -->
    <div class="col-2 p-0 d-flex flex-column vh-100">
      <app-sidebarv class="flex-grow-1"></app-sidebarv>
    </div>
    <!-- Main Content -->

    <div class="col-10 p-0 d-flex">
      <!-- Aquí puedes colocar el contenido principal -->
      <div class="p-4 flex-grow-1" style="background-color: #dbd8d8">
        <div class="container">
          <div class="container-fluid">
            <div class="container-fluid">
              <div class="row title mt-5">
                <h4>Retiros Bancarios</h4>
              </div>
              <div class="row contenido my-3 p-5 rounded-4">
                <h5>Comprobante de Retiro</h5>
                <form action="">
                  <div
                    class="col-12 my-3 p-4 rounded-3"
                    style="background-color: #ececec"
                  >
                    <p style="color: #3d84a7; line-height: 0.8em">
                      <b>BANCO BANQUITO</b>
                    </p>
                    <p style="font-size: 14px; line-height: 0.5em">
                      Retiro Bancario
                    </p>
                    <br />
                    <p style="font-size: 14px; line-height: 0.5em">
                      Cuenta: 2256987413
                    </p>
                    <p style="font-size: 14px; line-height: 0.5em">
                      Nombre: Edison Toapanta
                    </p>
                    <p style="font-size: 14px; line-height: 0.5em">
                      Documento: 112548963
                    </p>
                    <p style="font-size: 14px; line-height: 0.5em">
                      Total: 200.50
                    </p>
                    <p style="font-size: 14px; line-height: 0.5em">
                      Fecha: 17/12/2023
                    </p>
                  </div>
                </form>
                <div class="px-4 mt-3">
                  <button type="button" class="btn btn-success mx-1">
                    Imprimir
                  </button>
                  <button type="button" class="btn btn-secondary mx-1">
                    Regresar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
