.active {
    background-color: #1C9352;
    color: #fff !important;
    font-family: 'Times New Roman', serif;
  }

  .logo{
    padding-left: 40px;
  }

  a{
    font-family: 'Times New Roman', serif;
    font-size: 115%;
  }