<div class="container-fluid p-0">
    <div class="row m-0">
        <!-- Navbar -->
        <div class="col-12 px-0" class="borde-ancho">
            <app-navbarbw></app-navbarbw>
        </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
            <app-sidebarbw class="flex-grow-1"></app-sidebarbw>
        </div>
        <!-- Main Content -->

        <div class="col-10 p-0 d-flex">
            <!-- Aquí puedes colocar el contenido principal -->
            <div class="p-4 flex-grow-1" style="background-color: #DBD8D8;">
                <div class="container">
                    <div class="container-fluid">

                        <div class="container-fluid">
                            <div class="row title mt-5">
                                <h4>Solicitar tarjeta de débito</h4>
                            </div>
                            <div class="row title mt-5">
                                <h5>Cuenta a debitar</h5>
                            </div>
                            <div class="row contenido my-3 p-5 rounded-4">

                                <form>
                                    <div class="form-group">
                                        <select class="form-select" [(ngModel)]="cuentaId" name="cuentaId">
                                            <option selected disabled>--- Seleccione la Cuenta a Debitar ---</option>
                                            <option *ngFor="let cuenta of cuentasAhorro" [value]="cuenta.id" style="color: #3D84A7; line-height: 0.8em;">{{ cuenta.numeroCuenta }}</option>
                                        </select>
                                    </div>
                                </form>

                                <div class="px-4 mt-3">
                                    <button type="button" class="btn btn-success mx-1" (click)="generarTarjeta()">Continuar</button>
                                    <button type="button" class="btn btn-secondary mx-1" (click)="cancelar()">Cancelar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
