<div class="screen-flex-horizontal gap-3">
    <img class="logo my-auto" src="../../../assets/img/login/banquito.png" alt="Logo">
    <div class="card fondo gap-5">
        <div class="d-flex gap-3 mx-auto">
            <label class="fw-bold fs-2">Seleccione el tipo de transacción</label>
        </div>
        <div class="mx-auto d-flex tarjeta flex-column" [routerLink]="['depositos']">
            <div class="card tarjeta img-fluid ">
                <img class="tarjeta p-3" src="../../../../assets/img/tarjetas/vault.svg" alt="Tarjeta">
            </div>
            <label class="fw-bold fs-3 mx-auto">Depósitos</label>
        </div>
    </div>
</div>
