@import '../../../assets/styles/containers.css';

.logo {
    width: 10rem;
    height: 10rem;
}

.tarjeta {
    width: 25rem;
}

.fondo {
    flex-grow: 1;
    height: calc(100% - 1.5rem);
    margin: 1.5rem;
    background-color: #D9D9D9;
    justify-content: center;
}

.fw-bold {
    color: #159768;
}