<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="screen-flex-horizontal gap-3">
        <div class="d-flex gap-3 mx-auto justify-content-center">
            <label class="fw-bold fs-2">Cajeros Automáticos</label>
        </div>
        <a (click)="inicioMenu()"> 
        <img class="logo my-auto" src="../../../assets/img/login/banquito.png" alt="Logo">
    </a>
        <div class="d-flex gap-3 mx-auto">
            <label class="fw-bold2 fs-2">Presione la pantalla para continuar</label>
        </div>
        
    </div>
    
</body>
</html>
