<div class="container-fluid p-0">
  <div class="row m-0">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
      <app-navbarbw></app-navbarbw>
    </div>
  </div>
  <div class="row m-0">
    <!-- Sidebar -->
    <div class="col-2 p-0 d-flex flex-column vh-100">
      <app-sidebarbw class="flex-grow-1"></app-sidebarbw>
    </div>
    <!-- Main Content -->

    <div class="col-10 p-0 d-flex">
      <!-- Aquí puedes colocar el contenido principal -->
      <div class="p-4 flex-grow-1" style="background-color: #dbd8d8">
        <div class="container">
          <div class="container-fluid">
            <div class="container-fluid">
              <div class="row contenido my-3 p-5 rounded-4">
                <div class="d-flex align-items-center pb-5">
                  <img
                    src="../../../../assets/img/user.png"
                    alt="Avatar"
                    class="rounded-circle border border-2"
                    style="width: 150px; height: 150px; object-fit: cover"
                  />
                  <div class="ms-5">
                    Edison Javier Toapanta Pichucho
                    <br />
                    Último ingreso 08/12/2023 a las 09:18
                  </div>
                </div>

                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a
                      style="color: gray"
                      class="nav-link"
                      aria-current="page"
                      [routerLink]="['/perfil']"
                      >Detalle</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Cambio de Contraseña</a>
                  </li>
                </ul>
                <div class="mt-5">
                  <h6>Contraseña actual</h6>
                </div>
                <form (ngSubmit)="validarContrasena()">
                  <div class="row">
                    <div class="col-6 my-3 rounded-3">
                      <input
                        type="password"
                        class="form-control"
                        style="background-color: #dbd8d8"
                        placeholder="Contraseña actual"
                        name="antiguaContrasena"
                        [(ngModel)]="antiguaContrasena"
                      />
                    </div>
                  </div>

                  <div class="mt-2">
                    <h6>Nueva contraseña</h6>
                  </div>

                  <div class="row">
                    <div class="col-6 my-3 rounded-3">
                      <input
                        type="password"
                        class="form-control"
                        style="background-color: #dbd8d8"
                        placeholder="Nueva contraseña"
                        name="contrasena"
                        [(ngModel)]="contrasena"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6 my-3 rounded-3">
                      <input
                        type="password"
                        class="form-control"
                        style="background-color: #dbd8d8"
                        placeholder="Confirmar contraseña"
                        name="newContrasena"
                        [(ngModel)]="newContrasena"
                      />
                    </div>
                  </div>

                  <div class="mt-5" style="color: gray; font-size: 12px">
                    <h6>Requisitos para la nueva contraseña:</h6>
                    <ul>
                      <li>Tener de 8 a 16 caracteres.</li>
                      <li>Incluir al menos una mayúscula.</li>
                      <li>Incluir al menos una minúscula.</li>
                      <li>Incluir al menos un número.</li>
                      <li>Puede contener caracteres especiales.</li>
                    </ul>
                  </div>

                  <div class="px-4 mt-3">
                    <button type="submit" class="btn btn-success mx-1">
                      Guardar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
