<div class="container-fluid p-0">
    <div class="row">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
        <app-navbar></app-navbar>
    </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
        <app-sidebar class="flex-grow-1"></app-sidebar>
    </div>
    <!-- Main Content -->
    
    <div class="col-10 p-0 d-flex">
        <!-- Aquí puedes colocar el contenido principal -->
        <div class="p-4 flex-grow-1" style="background-color: #DBD8D8;">
            <div class="container">
                <div class="container-fluid">
                    <div class="row contenido my-3 p-5 rounded-4">
                        <h5>Edición de datos del cliente</h5>
                        <hr>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control my-2" placeholder="Persona" disabled>
                                <input type="text" class="form-control my-2" placeholder="Cedula" disabled>
                                <input type="text" class="form-control my-2" placeholder="17245327816" disabled>
                                <input type="text" class="form-control my-2" placeholder="Loachamin De La Cruz" disabled>
                                <input type="text" class="form-control my-2" placeholder="Gisselle Estefanía" disabled>

                                <input type="date" class="form-control my-2" placeholder="Fecha Nacimineto" value="2000-02-01">
                                <input type="text" class="form-control my-2" placeholder="Direccion" value="Av Huancavilca km 2, calle san Gabrial, casa 123 Lote N34">
                                <input type="text" class="form-control my-2" placeholder="Correo Electronico" value="gisselleldc12@gmail.com">
                                <input type="text" class="form-control my-2" placeholder="Telefono" value="0987271342">
                            </div>
                        </form>
                        <div class="px-4 mt-3">
                            <button type="button" class="btn btn-success mx-1 custom-width-btn"><i class="bi bi-plus-circle me-2"></i>Guardar</button>
                            <button type="button" class="btn btn-secondary mx-1" routerLink="/clientes/consultas">Regresar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
