<nav class="navbar bg-light shadow-lg sidebar">
  <ul class="navbar-nav text-center w-100">
    <li class="nav-item">
      <a class="nav-link" href="clientes" (mouseenter)="setActiveLink('Gestion de Cliente')" [ngClass]="{ 'active': activeLink === 'Gestion de Cliente' }">Gestion de Cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cuentas" (mouseenter)="setActiveLink('Gestion de Cuenta')" [ngClass]="{ 'active': activeLink === 'Gestion de Cuenta' }">Gestion de Cuenta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="usuarios" (mouseenter)="setActiveLink('Gestion de Usuario')" [ngClass]="{ 'active': activeLink === 'Gestion de Usuario' }">Gestion de Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="creditos" (mouseenter)="setActiveLink('Credito')" [ngClass]="{ 'active': activeLink === 'Credito' }">Credito</a>
    </li>
  </ul>
</nav>
