<div class="screen-flex-horizontal gap-3">
    <a href="http://localhost:4200/tipos/depositos">
        <img class="logo my-auto" src="../../../assets/img/login/banquito.png" alt="Logo">
    </a>
    <div class="card fondo gap-5">
        <div class="d-flex gap-3 mx-auto">
            <label class="fw-bold fs-2">Seleccione el tipo de transacción</label>
        </div>
        <div class="mx-auto d-flex tarjeta flex-column">
            <div class="card tarjeta img-fluid">
                <a href="http://localhost:4200/tipos/depositos">
                    <img class="tarjeta p-3" src="../../../../assets/img/tarjetas/vault.svg" alt="Tarjeta">
                </a>
            </div>
            <label class="fw-bold fs-3 mx-auto">Depósitos</label>
        </div>
    </div>
</div>
